    <div id="win" class="easyui-window" data-options="collapsible: false, minimizable:false, maximizable:false, closable: false" title="Login" style="width:400px;">
        <form id="form-login" style="padding:10px 40px;">
            <div style="margin-top:20px"><input class="easyui-textbox easyui-validatebox" name="login" label="Login:" style="width:100%"></div>
            <div style="margin-top:20px"><input class="easyui-textbox easyui-passwordbox" name="senha" label="Senha:" style="width:100%"></div>
            <div style="margin-top:20px;padding:5px;text-align:center;">
                <a class="easyui-linkbutton" icon="icon-ok" onclick="submitForm()">Ok</a>
                <a class="easyui-linkbutton" icon="icon-cancel">Cancel</a>
            </div>
        </form>
    </div>


    <script src="app/controllers/loginCtrl.js"></script>